body{
    font-family: Georgia;
    text-align: center;
    background-color: lightsteelblue;
}

main{
    margin: 30px;
    height: 400px;
    scroll-behavior: auto;
    overflow: auto;
}

footer{
    background-color: orange;
    padding: 10px;
}

table{
    width: 70%;
    margin: auto;
    border: 1px maroon dotted;
}

img{
    width: 80%;
}

form{
    padding-top: 20px;
}

tr:hover{
    background-color: steelblue;
    color: white;
}